*{
    margin:0;
    padding:0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:white;
    z-index: 1;
}
.navbar__s1{
    color:#892DE1;
}
.navbar__s2{
padding: 10px;
border: solid black 2px;
border-radius: 30px;
width: 60%;
display: flex;
gap: 10px;
align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
position: absolute;
width: 100px;
background-color: white;
border: solid black 2px;
padding: 20px;
top:150%;
right: 0;
display: none;
}
.mylearning:hover .mylearning__popup{
display: block;
}
.categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}
.categories p {
    background-color: #892DE1;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.sale-image{
position:relative;
}
.sale-image img{
    width: 100%;
    

}
.sale-image__offer{
    width: 15%;
    background-color: white;
    border:solid black 2px;
    position:absolute;
    top: 10%;
    left: 10%;
    padding:3%;
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}
.course-card{
    width:300px;
}
.course-card img{
    width:100%;
    height: 250px;
}
.topics{

    padding: 20px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

    .topics__container p{
        padding: 20px;
        border: solid black 1px;
        flex-grow: 1;
        flex-basis: 25%;
         
       
        
}
.popular{
    padding: 20px;
}.popular__container{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
    margin-top: 20px;
}
.footer{
padding: 30px;
background-color: black;
color: white;


}
.footer__one{
    display: flex;
    gap: 10px;
    
}
.footer__one p{
    margin: 20px;
}
.footer__two{
     display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
   
}